body{
  background: url('../sources/poster.jpg');
  background-size: fill;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper{
  min-height: 100vh;
}

main{
  flex: 1;
  display: flex;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center; 
  border: none;
}

form{
  width: 420px;
  background-color: var(--accent-color);
  opacity: 0.9;
  border: 2px solid rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.4);
  border-radius: 20px;
  padding: 30px 40px;
}

.wrapper h1{
  font-size: 40px;
  text-align: center;
  color: black;
}

.wrapper .inputBox{
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.inputBox input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder{
  color: rgb(190, 190, 190)
}

.inputBox i{
  position: absolute;
  right: 2;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .rememberForgot{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

.rememberForgot label input{
  accent-color: white;
  margin-right: 3px;
}

.rememberForgot a{
  color: white;
  text-decoration: none;
}

.rememberForgot a:hover{
  text-decoration: underline;
}

.wrapper .btn{
  width: 100%;
  height: 45px;
  background: var(--main-color);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.btn:hover{
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0 0 20px #3f3131;
}

.wrapper .registerLink{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLink p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.registerLink p a:hover{
  text-decoration: underline;
}
