.wrapper .rememberForgot{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 15px 0 15px;
}

.rememberForgot label input{
  accent-color: white;
  margin-right: 3px;
}

.rememberForgot a{
  color: white;
  text-decoration: none;
}

.rememberForgot a:hover{
  text-decoration: underline;
}

.wrapper .registerLink{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLink p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.registerLink p a:hover{
  text-decoration: underline;
}
