.sidebar{
  height: 40%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: 0.3s;
  overflow-x: hidden;
  padding-top: 20px;
  border-bottom: 2px solid #504241;
  border-right: 2px solid #504241;
  box-sizing: border-box;
}

.sidebar a{
  padding: 5px 15px;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

.openBtn{
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  margin-right: 10px;
  background: none;
  border: none;
  border-radius: 50%;
}

.openBtn img{
  color: black;
  width: 25px;
  height:25;
}

.sidebar.open{
  width: 250px;
}

main{
  flex-grow: 1 1 25%;
  padding: 30px;
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.3);
}

.card img{
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 5px;
}

.card-body{
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title, .card-price, .add-to-cart-button{
  width: 100%;
  box-sizing: border-box;
}

.card-title{
  margin: 0 0 8px 0;
  color: #222;
}

.card-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom-right{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.add-to-cart-button{
  background-color: #9D403D;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  border: none;
  padding: 8px;
  border-radius: 15px;
  cursor: pointer;
}

.add-to-cart-button:hover{
  transform: scale(1.05);
  transition: 0.2s ease;
  box-shadow: 0 0 20px #9D403D;
}

.card-bottom-right img{
  margin-left: 10px;
  width: 20%;
  height: 20%;
  object-fit: fill;
  cursor: pointer;
}

.card-bottom img:hover{
  transition: 0.2s ease;
  transform:  scale(1.1);
}
