main{
  flex: 1 1 auto;
  padding: 30px;
  max-width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  align-items: stretch;
  grid-auto-rows: min-content;
}
