.password-conditions {
  color: #272424;
  font-size: 14px;
  margin-left: 15px;
}

.password-conditions label {
  cursor: default;
}

.password-conditions input[type="checkbox"] {
  margin-right: 5px;
  pointer-events: none;
  width: 16px;
  height: 16px;
}

.equal-checkbox {
  color: #272424;
  font-size: 14px;
  margin-left: 15px;
}

.accept {
  margin: 10px 0 10px 15px;
  cursor: pointer;
}

.accept input {
  transform: scale(1.6);
  margin-right: 5px;
}

.accept [type="checkbox"] {
  accent-color: #000000;
  cursor: pointer;
}