body {
  background: url('../sources/poster.jpg');
  background-size: fill;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 420px;
  background-color: var(--accent-color);
  opacity: 0.9;
  border: 2px solid rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px);
  box-shadow: 0 5px 5px rgb(0 0 0 / 0.4);
  border-radius: 20px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 40px;
  text-align: center;
  color: black;
}

.wrapper .inputBox {
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
  color: rgb(190, 190, 190)
}

.error-message {
  margin-left: 15px;
  color: #ff4060;
  font-size: 13px;
  display: none;
}

.toggle-password {
  position: absolute;
  right: 50px;
  width: 30px;
  transform: translateY(+35%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
  padding: 0;
}

.password-conditions {
  color: #272424;
  font-size: 14px;
  margin-left: 15px;
}

.password-conditions label {
  cursor: default;
}

.password-conditions input[type="checkbox"] {
  margin-right: 5px;
  pointer-events: none;
  width: 16px;
  height: 16px;
}

.equal-checkbox {
  color: #272424;
  font-size: 14px;
  margin-left: 15px;
}

.accept {
  margin: 10px 0 10px 15px;
  cursor: pointer;
}

.accept input {
  transform: scale(1.6);
  margin-right: 5px;
}

.accept [type="checkbox"] {
  accent-color: #000000;
  cursor: pointer;
}

.wrapper .registerBtn {
  width: 100%;
  height: 45px;
  background: var(--main-color);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.registerBtn:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0 0 20px #3f3131;
}

.registerBtn:disabled {
  background: #ccc;
  color: #777;
  cursor: default;
  box-shadow: none;
  transform: none;
}